@use "../../../../styles/variables.scss" as variables;

.container {
  width: 200px;
  height: 300px;
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;

  .textContainer {
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 20px;
  }
}
