@use "../../../styles/variables.scss" as variables;

.container {
  display: flex;
  align-items: center;

  svg {
    font-size: 26px;
    color: variables.$brand-main-color;
    &:hover {
      cursor: pointer;
    }
  }

  .carousel{
      margin: 0 20px;
  }
}
