@use "../../../styles/variables.scss" as variables;
@use "../../../styles/mixins.scss" as mixins;

.container {
  display: flex;
  align-items: center;
  position: relative;

  svg {
    font-size: 26px;
    color: variables.$brand-main-color;
    position: absolute;
    &:hover {
      cursor: pointer;
    }
  }

  div:first-of-type svg {
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);

    @include mixins.sm {
      left: -5%;
    }
    @include mixins.lg {
      left: -3%;
    }
  }
  div:last-of-type svg {
    top: 50%;
    transform: translateY(-50%);
    z-index: 15;

    @include mixins.sm {
      right: -5%;
    }
    @include mixins.lg {
      right: -3%;
    }
  }
}
