@use "../../../styles/variables.scss" as variables;

.container {
  li {
    font-size: variables.$font-size-footer-headings;
    font-family: variables.$font-family-sans-serif-text;
    padding: 1rem 0 0 0;
    span {
      font-weight: bold;
    }
  }
}
