@use "../../../styles/variables.scss" as variables;

.container {
  width: 330px;
  margin: 0 auto;
  display: flex;
  align-items: center;

  svg {
    font-size: variables.$font-size-headings;
    vertical-align: middle;
  }

  input {
    background: none;
    width: 100%;
    margin-left: 0.5rem;
    border: none;
    color: variables.$font-color-white;
    border: 0;
    outline: 0;
    &:focus {
      outline: none !important;
    }
    &::placeholder {
      opacity: 1;
      color: variables.$font-color-white;
    }
  }

  div {
    position: relative;
    width: 100%;
  }

  ul {
    position: absolute;
    left: 10px;
    height: 500px;
    overflow-y: scroll;
    background-color: white !important;
    color: variables.$black;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    z-index: 10;

    li {
      padding: 1rem 1rem 0 1rem;
      display: flex;
      align-items: center;
      height: 75px;

      &:nth-of-type(1) {
        padding: 1rem 1rem 0rem 1rem;
      }
      &:nth-last-of-type(1) {
        padding: 1rem 1rem 1rem 1rem;
      }

      img {
        width: 40px;
        height: 50;
        object-fit: cover;
        margin-right: 20px;
      }

      a {
        color: variables.$black;
        display: flex;
        align-items: center;
      }
    }
  }
}
