@use "../../../styles/variables.scss" as variables;

.container {
  .rewardsList {
    display: flex;
    justify-content: center;
    li {
      text-transform: uppercase;
      font-weight: bold;
      text-align: center;
      border-right: 0.5px solid rgba(255, 255, 255, 0.301);
      padding: 1rem 1.5rem;
      &:nth-last-child(-n + 1) {
        border-right: none;
      }
      span {
        font-size: 2.5rem;
        color: variables.$brand-main-color;
      }
      i {
        text-transform: none;
        font-weight: 400;
        font-style: italic;
      }
    }
  }
}
