@use "variables.scss" as variables;
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,400&family=Roboto:wght@300;400;500;700&display=swap");
/* --------------------------------------------
Typography
---------------------------------------------*/

/* 
----------------Layout
*/

html {
  color: variables.$font-color-white;
  font-size: variables.$font-size-regular;
  font-family: variables.$font-family-sans-serif-text;
  letter-spacing: variables.$font-letter-spacing;
}

/* 
----------------Elements
*/

// Headings
h1 {
  font-size: variables.$font-size-hero-heading;
  font-family: variables.$font-family-sans-serif-headings;
  font-weight: bold;
  margin: 0;
  text-transform: uppercase;
}

h2,
figcaption {
  font-size: variables.$font-size-headings;
  font-family: variables.$font-family-sans-serif-headings;
  font-weight: bold;
  text-transform: uppercase;
  margin: 100px 0;
}

h3 {
  margin: 0;
  font-weight: 500;
  font-size: variables.$font-size-footer-headings;
}

h3 + span {
  color: variables.$font-color-gray;
}

h4 {
  margin: 0;
  font-weight: bold;
  font-family: variables.$font-family-sans-serif-headings;
  font-size: variables.$font-size-footer-headings;
}

h5 {
  display: inline-block;
  margin: 0;
  font-weight: normal;
  font-size: variables.$font-size-footer;
}

// Miscellaneous
a,
button {
  font-family: variables.$font-family-sans-serif-text;
  color: variables.$font-color-white;
  font-size: variables.$font-size-regular;
  letter-spacing: variables.$font-letter-spacing;
  text-decoration: none;
  text-transform: uppercase;
}

figcaption {
  text-transform: initial;

  span {
    color: variables.$font-color-gray;
    font-size: variables.$font-size-footer-headings;
    font-family: variables.$font-family-sans-serif-text;
    font-weight: normal;
    text-transform: initial;
  }
}

ul {
  list-style: none;
  padding: 0;
}
