@use "../../../styles/variables.scss" as variables;
@use "../../../styles/mixins.scss" as mixins;

.newsContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  column-gap: 1.5rem;
}

.paginationContainer {
  display: flex;
  margin: 50px auto;
  justify-content: center;

  .page {
    list-style: none;
    cursor: pointer;
    width: 100px;
    text-align: center;
    border-right: 0.5px solid rgba(255, 255, 255, 0.301);
    padding: 0.5rem 0 0.5rem 0;
    &:nth-last-child(-n + 2) {
      border-right: none;
    }

    &Selected {
      color: variables.$brand-main-color;
      cursor: default;
    }
  }

  .commandPages {
    display: none;
  }
}
