@use "../../styles/variables.scss" as variables;
@use "../../styles/mixins.scss" as mixins;

.container {
  width: 80vw;
  height: 400px;
  background-color: variables.$black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 4% 10%;
  margin-top: 100px;

  .footerMain {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    @include mixins.md {
      height: 150px;
      flex-direction: row;
    }

    &Infos {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &Social {
        margin-top: 1rem;
        @include mixins.md {
          margin: 0;
        }
      }

      &Brand {
        font-family: variables.$font-family-serif;
        font-weight: bold;
        font-size: 20px;
      }

      &Desc {
        font-size: variables.$font-size-footer;
      }
    }

    &Nav {
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
      width: 100%;

      @include mixins.md {
        flex-direction: row;
        width: 60%;
      }

      &Group {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        @include mixins.md {
        }
        &Links {
          display: flex;
          flex-direction: row;
          @include mixins.md {
            justify-content: space-evenly;
            height: 150px;
            flex-direction: column;
          }
        }

        & span {
          font-size: calc(variables.$font-size-footer);
          display: flex;
          align-items: center;
          padding-right: 1rem;
          @include mixins.md {
            padding: 0;
            flex-direction: column;
            align-items: flex-start;
          }
        }
      }
    }
  }

  hr {
    width: 100%;
    height: 1px;
    border: none;
    background-color: variables.$font-color-gray;
  }

  .footerSub {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    text-align: center;

    @include mixins.lg {
      flex-direction: row;
      text-align: start;
    }

    &Headings {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: space-around;
      padding-top: 5%;

      @include mixins.lg {
        width: 30rem;
        flex-direction: row;
        justify-content: space-between;
        padding-top: 0;
      }
    }
  }

  svg {
    font-size: variables.$font-size-headings;
    padding-right: 15px;
  }
}
