@use "../../../styles/variables.scss" as variables;

.newsContainer {
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    padding-top: 10px;
    width: fit-content;
    color: variables.$font-color-gray;
    font-size: variables.$font-size-footer-headings;
    font-family: variables.$font-family-sans-serif-text;
    font-weight: normal;
    text-transform: initial;
  }
  a {
    width: fit-content;
  }
  h3 {
    display: inline;
    width: fit-content;
  }
}

.container {
  width: 280px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  img {
    width: 274px;
    height: 240px;
    border-radius: 15px;
    object-fit: cover;
    object-position: center;
  }
}

.containerSlide {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
  margin: 0 auto;
}

.containerTop {
  width: 200px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  margin-bottom: 2rem;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}

.rank {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  position: relative;
  top: -115px;
  color: variables.$black;
  background: variables.$white;
}

.textContainer {
  height: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 15px;
  background: variables.$black;

  a {
    text-transform: none;
  }

  h3 {
    width: 150px;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }

  span {
    width: 150px;
    font-weight: 400;
    font-size: variables.$font-size-footer;
    max-height: variables.$font-size-footer + 1;
    white-space: nowrap;
    overflow: hidden;
    display: inline-block;
    text-overflow: ellipsis;
  }
}
