@use "../../../styles/variables.scss" as variables;
@use "../../../styles/mixins.scss" as mixins;

.container {
  width: 100%;
  @include mixins.sm {
    width: 450px;
  }
  figure {
    display: flex;
    align-items: center;
    margin: 25px 0 25px 0;
    flex-direction: column;
    justify-content: center;

    @include mixins.sm {
      flex-direction: row;
    }
  }

  img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    object-position: center;
    border: 2.25px solid variables.$brand-main-color;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  }
  figcaption {
    margin: 0 2rem;
    margin-top: 2rem;
    width: 300px;
    text-align: center;
    @include mixins.sm {
      text-align: start;
      margin: 2rem;
      flex-direction: row;
    }
  }
}
