@use "../../../styles/variables.scss" as variables;

.container {
  width: 400px;

  figure {
    display: flex;
    align-items: center;
    margin: 0 0 50px 0;
  }

  img {
    width: 115px;
    height: 115px;
    object-fit: cover;
    object-position: center;
    border: 2.25px solid variables.$brand-main-color;
    border-radius: 60px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
  }
  figcaption {
    margin: 0 auto;
  }
}
