@use "../../../styles/variables.scss" as variables;

.container {
  display: flex;
  font-size: 0;
  column-gap: 4px;
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  .otherImages {
    width: 1000px;
    column-gap: 4px;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  .lightbox {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: -100;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    background-color: rgba($color: #000000, $alpha: 0.6);
    display: flex;
    img {
      width: initial;
      height: initial;
    }
  }

  .lightboxActive {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgba($color: #000000, $alpha: 0.6);
    justify-content: center;
    align-items: center;
    display: flex;
    opacity: 1;
    visibility: visible;
    img {
      max-width: 90%;
      max-height: 80%;
      width: initial;
      height: initial;
    }
    transition: 0.5s ease;
    -webkit-transition: 0.5s ease;
    -moz-transition: 0.5s ease;
    -ms-transition: 0.5s ease;
    -o-transition: 0.5s ease;
  }

  .imageLight {
    width: initial;
    height: initial;
    filter: brightness(0.45);
    -webkit-filter: brightness(0.45);
  }

  & .mainImage .image {
    width: 300px;
    height: 300px;
    object-fit: cover;
    object-position: center;
  }

  img {
    font-size: 0;
    width: 149px;
    height: 149px;
    object-fit: cover;
    object-position: center;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    -o-transition: 0.4s;
  }
}
