@use "../../../../styles/variables.scss" as variables;
@use "../../../../styles/mixins.scss" as mixins;

.cta {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0;
  z-index: 1;

  @include mixins.md {
    width: 600px;
  }

  button {
    border: none;
    display: flex;
    align-items: center;
    height: 68px;
    padding: 0 3rem;
    cursor: pointer;
  }

  .details {
    background-color: variables.$black;
  }

  .trailer {
    background-color: transparent;
    border: 2px solid variables.$font-color-white;
  }
}
.link {
  background-color: transparent;
  border: 2px solid variables.$font-color-white;
  height: 68px;
  padding: 0 1rem;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-align: center;
  margin: 25px 0;
}

.modal {
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;

  .iframe {
    margin: 0 auto;
    border: none;
    width: 100%;
    height: 100vh;
    max-width: 854px;
    max-height: 480px;
    .video-player-frame.video-player-embedded {
      padding: 50px;
    }
  }
}

.modalOverlay {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba($color: #000000, $alpha: 0.95);
  z-index: 10;
}
